In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train = pd.read_csv('telemetry_for_operations_training.csv')
train.head()

,create_dt,mdm_object_name,mdm_model_id,lon,lat,alt,speed_gps,direction,accel_forward_nn,accel_braking_nn,accel_angular_nn,accel_vertical_nn
0,2023-09-29 08:12:46,1498,62,-0.039352,0.005476,217,15.7,194.0,0.098,0.000,0.490,0.98
1,2023-09-29 08:12:47,1498,62,-0.039367,0.005442,216,14.4,196.0,0.000,0.294,0.000,1.96
2,2023-09-29 08:12:49,1498,62,-0.039382,0.005362,216,15.2,180.0,0.000,0.490,0.490,1.96
3,2023-09-29 08:12:51,1498,62,-0.039397,0.005297,216,12.9,198.0,0.000,0.196,0.588,0.00
4,2023-09-29 08:12:53,1498,62,-0.039413,0.005232,216,10.6,180.0,0.000,1.372,0.392,1.96

In [3]:
train.shape

(516073, 12)

In [4]:
train.isnull().sum()

create_dt            0
mdm_object_name      0
mdm_model_id         0
lon                  0
lat                  0
alt                  0
speed_gps            0
direction            0
accel_forward_nn     0
accel_braking_nn     0
accel_angular_nn     0
accel_vertical_nn    0
dtype: int64

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516073 entries, 0 to 516072
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   create_dt          516073 non-null  object
 1   mdm_object_name    516073 non-null  int64
 2   mdm_model_id       516073 non-null  int64
 3   lon                516073 non-null  float64
 4   lat                516073 non-null  float64
 5   alt                516073 non-null  int64
 6   speed_gps          516073 non-null  float64
 7   direction          516073 non-null  float64
 8   accel_forward_nn   516073 non-null  float64
 9   accel_braking_nn   516073 non-null  float64
 10  accel_angular_nn   516073 non-null  float64
 11  accel_vertical_nn  516073 non-null  float64
dtypes: float64(8), int64(3), object(1)
memory usage: 47.2+ MB

In [6]:
train.duplicated().sum()

14891

In [7]:
duplicate = train.duplicated()
train[duplicate]

,create_dt,mdm_object_name,mdm_model_id,lon,lat,alt,speed_gps,direction,accel_forward_nn,accel_braking_nn,accel_angular_nn,accel_vertical_nn
207811,2023-08-09 08:02:54,1038,62,0.005753,0.004778,-50,0.0,326.0,0.0,0.0,0.0,0.0
207813,2023-08-09 08:02:59,1038,62,0.005753,0.004778,-50,0.0,326.0,0.0,0.0,0.0,0.0
207815,2023-08-09 08:03:04,1038,62,0.005753,0.004778,-50,0.0,326.0,0.0,0.0,0.0,0.0
207817,2023-08-09 08:03:09,1038,62,0.005753,0.004778,-50,0.0,326.0,0.0,0.0,0.0,0.0
207819,2023-08-09 08:03:14,1038,62,0.005753,0.004778,-50,0.0,326.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
237583,2023-08-10 07:50:37,1038,62,-0.024612,0.011923,82,0.0,128.2,0.0,0.0,0.0,0.0
237585,2023-08-10 07:50:42,1038,62,-0.024612,0.011923,82,0.0,128.2,0.0,0.0,0.0,0.0
237587,2023-08-10 07:50:47,1038,62,-0.024612,0.011923,82,0.0,128.2,0.0,0.0,0.0,0.0
237589,2023-08-10 07:50:52,1038,62,-0.024612,0.011923,82,0.0,128.2,0.0,0.0,0.0,0.0
237591,2023-08-10 07:50:57,1038,62,-0.024612,0.011923,82,0.0,128.2,0.0,0.0,0.0,0.0

In [8]:
train.head(), train.tail()

(             create_dt  mdm_object_name  mdm_model_id       lon       lat  \
 0  2023-09-29 08:12:46             1498            62 -0.039352  0.005476
 1  2023-09-29 08:12:47             1498            62 -0.039367  0.005442
 2  2023-09-29 08:12:49             1498            62 -0.039382  0.005362
 3  2023-09-29 08:12:51             1498            62 -0.039397  0.005297
 4  2023-09-29 08:12:53             1498            62 -0.039413  0.005232

    alt  speed_gps  direction  accel_forward_nn  accel_braking_nn  \
 0  217       15.7      194.0             0.098             0.000
 1  216       14.4      196.0             0.000             0.294
 2  216       15.2      180.0             0.000             0.490
 3  216       12.9      198.0             0.000             0.196
 4  216       10.6      180.0             0.000             1.372

    accel_angular_nn  accel_vertical_nn
 0             0.490               0.98
 1             0.000               1.96
 2             0.490               1.96
 3             0.588               0.00
 4             0.392               1.96  ,
                   create_dt  mdm_object_name  mdm_model_id       lon  \
 516068  2023-10-26 08:16:26              119            61 -0.002693
 516069  2023-10-26 08:16:31              119            61 -0.002693
 516070  2023-10-26 08:16:36              119            61 -0.002693
 516071  2023-10-26 08:16:41              119            61 -0.002693
 516072  2023-10-26 08:16:46              119            61 -0.002693

              lat  alt  speed_gps  direction  accel_forward_nn  \
 516068  0.011425   57        0.0      146.0               0.0
 516069  0.011425   57        0.0      146.0               0.0
 516070  0.011425   57        0.0      146.0               0.0
 516071  0.011425   57        0.0      146.0               0.0
 516072  0.011425   57        0.0      146.0               0.0

         accel_braking_nn  accel_angular_nn  accel_vertical_nn
 516068               0.0               0.0                0.0
 516069               0.0               0.0                0.0
 516070               0.0               0.0                0.0
 516071               0.0               0.0                0.0
 516072               0.0               0.0                0.0  )

In [9]:
train.describe(include= 'all')

,create_dt,mdm_object_name,mdm_model_id,lon,lat,alt,speed_gps,direction,accel_forward_nn,accel_braking_nn,accel_angular_nn,accel_vertical_nn
count,516073,516073.000000,516073.000000,5.160730e+05,5.160730e+05,516073.000000,516073.000000,516073.000000,516073.000000,516073.000000,516073.000000,516073.000000
unique,473320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,2023-09-29 14:25:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,702.413372,61.461065,-5.794578e+02,-5.794038e+02,42.494349,13.473738,176.415423,0.246462,0.214678,0.424484,0.376566
std,NaN,636.085455,0.498482,2.406669e+04,2.406445e+04,94.651927,10.384209,102.775215,0.547236,0.471499,0.796143,0.536240
min,NaN,119.000000,61.000000,-1.000142e+06,-1.000049e+06,-146.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,121.000000,61.000000,-2.191073e-02,-9.752221e-03,-42.000000,0.000000,97.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,125.000000,61.000000,7.569250e-03,2.370887e-03,57.000000,14.100000,171.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,1436.000000,62.000000,2.118009e-02,9.000830e-03,95.000000,20.100000,262.000000,0.196000,0.196000,0.490000,0.980000
max,NaN,1498.000000,62.000000,3.247159e-02,2.044874e-02,241.000000,91.000000,360.000000,5.096000,16.758000,14.406000,10.976000

In [10]:
test = pd.read_csv('telemetry_for_operations_validation.csv')
test.head()

,create_dt,mdm_object_name,mdm_model_id,lon,lat,alt,speed_gps,direction,accel_forward_nn,accel_braking_nn,accel_angular_nn,accel_vertical_nn
0,2023-09-29 08:03:27,1501,62,0.015931,-0.002470,-77,8.8,180.0,0.000,0.294,0.000,0.98
1,2023-09-29 08:03:28,1501,62,0.015946,-0.002493,-77,9.7,156.0,0.196,0.000,0.000,0.98
2,2023-09-29 08:03:33,1501,62,0.016007,-0.002581,-79,11.6,159.0,0.686,0.000,0.000,0.00
3,2023-09-29 08:03:34,1501,62,0.016053,-0.002634,-79,9.9,156.0,0.000,1.176,1.078,0.00
4,2023-09-29 08:03:35,1501,62,0.016084,-0.002657,-80,12.5,138.0,0.686,0.000,1.568,0.98

In [11]:
test.shape

(260111, 12)

In [12]:
test.isnull().sum()

create_dt            0
mdm_object_name      0
mdm_model_id         0
lon                  0
lat                  0
alt                  0
speed_gps            0
direction            0
accel_forward_nn     0
accel_braking_nn     0
accel_angular_nn     0
accel_vertical_nn    0
dtype: int64

In [13]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260111 entries, 0 to 260110
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   create_dt          260111 non-null  object
 1   mdm_object_name    260111 non-null  int64
 2   mdm_model_id       260111 non-null  int64
 3   lon                260111 non-null  float64
 4   lat                260111 non-null  float64
 5   alt                260111 non-null  int64
 6   speed_gps          260111 non-null  float64
 7   direction          260111 non-null  float64
 8   accel_forward_nn   260111 non-null  float64
 9   accel_braking_nn   260111 non-null  float64
 10  accel_angular_nn   260111 non-null  float64
 11  accel_vertical_nn  260111 non-null  float64
dtypes: float64(8), int64(3), object(1)
memory usage: 23.8+ MB

In [14]:
labels = pd.read_csv('operations_labels_training.csv')
labels.head()

,start_time,end_time,operation_kind_id,mdm_object_name,name
0,2023-09-26 08:00:12,2023-09-26 08:03:12,0,119,idle
1,2023-09-26 08:03:12,2023-09-26 08:08:11,1,119,loading
2,2023-09-26 08:08:11,2023-09-26 08:26:28,2,119,riding_loaded
3,2023-09-26 08:26:28,2023-09-26 08:26:58,3,119,unloading_lift
4,2023-09-26 08:27:30,2023-09-26 08:38:42,5,119,riding_empty

In [15]:
labels.shape

(3981, 5)

In [16]:
labels.isnull().sum()

start_time           0
end_time             0
operation_kind_id    0
mdm_object_name      0
name                 0
dtype: int64

In [17]:
labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3981 entries, 0 to 3980
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   start_time         3981 non-null   object
 1   end_time           3981 non-null   object
 2   operation_kind_id  3981 non-null   int64
 3   mdm_object_name    3981 non-null   int64
 4   name               3981 non-null   object
dtypes: int64(2), object(3)
memory usage: 155.6+ KB

In [18]:
train['create_dt'] = pd.to_datetime(train['create_dt'], format='ISO8601', errors='coerce')

In [19]:
test['create_dt'] = pd.to_datetime(test['create_dt'], format='ISO8601', errors='coerce')

In [20]:
labels['start_time'] = pd.to_datetime(labels['start_time'])

In [21]:
labels['end_time'] = pd.to_datetime(labels['end_time'])

In [22]:
merged_df = pd.merge_asof(
    train.sort_values('create_dt'),
    labels.sort_values('start_time'),
    left_on='create_dt',
    right_on='start_time',
    direction='backward',
    allow_exact_matches=False
)

In [23]:
condition = (merged_df['create_dt'] >= merged_df['start_time']) & (merged_df['create_dt'] <= merged_df['end_time'])
merged_df['operation_kind_id'] = merged_df['operation_kind_id'].where(condition, pd.NA)

In [24]:
merged_df.shape

(516073, 17)

In [25]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516073 entries, 0 to 516072
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   create_dt          516073 non-null  datetime64[ns]
 1   mdm_object_name_x  516073 non-null  int64
 2   mdm_model_id       516073 non-null  int64
 3   lon                516073 non-null  float64
 4   lat                516073 non-null  float64
 5   alt                516073 non-null  int64
 6   speed_gps          516073 non-null  float64
 7   direction          516073 non-null  float64
 8   accel_forward_nn   516073 non-null  float64
 9   accel_braking_nn   516073 non-null  float64
 10  accel_angular_nn   516073 non-null  float64
 11  accel_vertical_nn  516073 non-null  float64
 12  start_time         516071 non-null  datetime64[ns]
 13  end_time           516071 non-null  datetime64[ns]
 14  operation_kind_id  505083 non-null  float64
 15  mdm_object_name_y  516071 non-null  float64
 16  name               516071 non-null  object
dtypes: datetime64[ns](3), float64(10), int64(3), object(1)
memory usage: 66.9+ MB

In [26]:
merged_df = merged_df.drop(['start_time', 'end_time', 'mdm_object_name_y', 'name'], axis = 1)

In [27]:
merged_df = merged_df.rename({'mdm_object_name_x':'mdm_object_name'}, axis = 1)

In [28]:
newtrain = merged_df.copy()

In [29]:
newtrain.columns

Index(['create_dt', 'mdm_object_name', 'mdm_model_id', 'lon', 'lat', 'alt',
       'speed_gps', 'direction', 'accel_forward_nn', 'accel_braking_nn',
       'accel_angular_nn', 'accel_vertical_nn', 'operation_kind_id'],
      dtype='object')

In [30]:
test.columns

Index(['create_dt', 'mdm_object_name', 'mdm_model_id', 'lon', 'lat', 'alt',
       'speed_gps', 'direction', 'accel_forward_nn', 'accel_braking_nn',
       'accel_angular_nn', 'accel_vertical_nn'],
      dtype='object')

In [31]:
newtrain.shape

(516073, 13)

In [32]:
newtest = test.copy()
newtest.shape

(260111, 12)

In [33]:
newtrain[newtrain['operation_kind_id'].isna()]

,create_dt,mdm_object_name,mdm_model_id,lon,lat,alt,speed_gps,direction,accel_forward_nn,accel_braking_nn,accel_angular_nn,accel_vertical_nn,operation_kind_id
0,2023-08-09 08:02:54,1038,62,0.005753,0.004778,-50,0.0,326.0,0.000,0.000,0.000,0.00,NaN
1,2023-08-09 08:02:54,1038,62,0.005753,0.004778,-50,0.0,326.0,0.000,0.000,0.000,0.00,NaN
828,2023-08-09 08:25:27,1038,62,0.028016,-0.014784,60,12.9,127.0,3.528,0.000,0.000,0.98,NaN
829,2023-08-09 08:25:27,1038,62,0.028016,-0.014784,60,12.9,127.0,3.528,0.000,0.000,0.98,NaN
830,2023-08-09 08:25:32,1038,62,0.028016,-0.014780,60,0.0,0.0,0.000,0.000,0.000,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
516068,2023-12-15 15:57:33,125,61,0.013819,0.002965,-51,21.3,110.0,0.000,0.000,0.098,0.98,NaN
516069,2023-12-15 15:57:36,125,61,0.013979,0.002917,-51,14.2,122.0,0.000,0.686,0.000,0.00,NaN
516070,2023-12-15 15:57:39,125,61,0.014139,0.002829,-51,17.1,135.0,0.000,0.784,0.000,0.00,NaN
516071,2023-12-15 15:57:40,125,61,0.014171,0.002785,-50,18.6,154.0,0.392,0.000,0.294,0.98,NaN
516072,2023-12-15 15:57:42,125,61,0.014219,0.002693,-51,20.3,168.0,0.000,0.000,1.274,0.98,NaN

In [34]:
newtrain['year'] = newtrain['create_dt'].dt.year
newtrain['month'] = newtrain['create_dt'].dt.month
newtrain['day'] = newtrain['create_dt'].dt.day
newtrain['hour'] = newtrain['create_dt'].dt.hour
newtrain['weekday'] = newtrain['create_dt'].dt.weekday  # 0 = Monday, 6 = Sunday
newtrain['week'] = newtrain['create_dt'].dt.isocalendar().week  # week of the year

In [35]:
newtrain = newtrain.drop('create_dt', axis = 1)

In [36]:
newtest['year'] = newtest['create_dt'].dt.year
newtest['month'] = newtest['create_dt'].dt.month
newtest['day'] = newtest['create_dt'].dt.day
newtest['hour'] = newtest['create_dt'].dt.hour
newtest['weekday'] = newtest['create_dt'].dt.weekday  # 0 = Monday, 6 = Sunday
newtest['week'] = newtest['create_dt'].dt.isocalendar().week  # week of the year

In [37]:
newtest = newtest.drop('create_dt', axis = 1)

In [38]:
newtrain.shape

(516073, 18)

In [39]:
newtest.shape

(260111, 17)

In [40]:
df_test = newtrain[newtrain['operation_kind_id'].isna()]
df_test = df_test.drop('operation_kind_id', axis = 1)

In [41]:
df_train = newtrain[newtrain['operation_kind_id'].notna()]

In [42]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [43]:
X = df_train.drop('operation_kind_id', axis = 1)
y = df_train['operation_kind_id']

In [44]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.2, random_state=42)

In [45]:
def create_pipeline(model):
    return Pipeline(steps=[
        ('scaler', StandardScaler()),
        ('classifier', model)
    ])

In [46]:
rf = RandomForestClassifier(random_state=42)
##xgb = XGBClassifier(random_state=42)
lgbm = LGBMClassifier(random_state=42)

In [47]:
pipelines = {
    'RandomForest': create_pipeline(rf),
   ## 'XGBoost': create_pipeline(xgb),
    'LightGBM': create_pipeline(lgbm)
}

In [48]:
for model_name, pipeline in pipelines.items():
    print(f"Training {model_name}...")
    pipeline.fit(X_train, y_train)
    
    # Predict on validation set
    y_pred = pipeline.predict(X_valid)
    
    # Calculate F1 score (weighted)
    score = f1_score(y_valid, y_pred, average='weighted')
    print(f"{model_name} F1 Score: {score:.4f}")

Training RandomForest...
RandomForest F1 Score: 0.9077
Training LightGBM...
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.023215 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 1567
[LightGBM] [Info] Number of data points in the train set: 404066, number of used features: 16
[LightGBM] [Info] Start training from score -1.940308
[LightGBM] [Info] Start training from score -2.465034
[LightGBM] [Info] Start training from score -0.841879
[LightGBM] [Info] Start training from score -4.047983
[LightGBM] [Info] Start training from score -1.130174
LightGBM F1 Score: 0.8562

In [49]:
best_model = pipelines['RandomForest']  # example choice based on performance

In [50]:
x_train = df_train.drop('operation_kind_id', axis = 1)
y_train = df_train['operation_kind_id']
x_test = df_test

In [51]:
test_predictions = best_model.predict(x_test)

In [52]:
x_train = df_train.drop('operation_kind_id', axis = 1)
y_train = df_train['operation_kind_id']
x_test = df_test

In [53]:
test_predictions = best_model.predict(x_test)

In [54]:
df_test['operation_kind_id'] = test_predictions

In [55]:
df_test.head(2)

,mdm_object_name,mdm_model_id,lon,lat,alt,speed_gps,direction,accel_forward_nn,accel_braking_nn,accel_angular_nn,accel_vertical_nn,year,month,day,hour,weekday,week,operation_kind_id
0,1038,62,0.005753,0.004778,-50,0.0,326.0,0.0,0.0,0.0,0.0,2023,8,9,8,2,32,0.0
1,1038,62,0.005753,0.004778,-50,0.0,326.0,0.0,0.0,0.0,0.0,2023,8,9,8,2,32,0.0

In [56]:
final_train = pd.concat([df_train, df_test], axis = 0)
final_train.shape

(516073, 18)

In [57]:
newtest.shape

(260111, 17)

In [58]:
x_train = final_train.drop('operation_kind_id', axis = 1)
y_train = final_train['operation_kind_id']
x_test = newtest

In [59]:
test_predictions = best_model.predict(x_test)

In [60]:
submission = test[['create_dt', 'mdm_object_name']].copy()
submission['operation_kind_id'] = test_predictions

In [61]:
submission['operation_kind_id'] = submission['operation_kind_id'].astype(int)
submission.head(2)

            create_dt  mdm_object_name  operation_kind_id
0 2023-09-29 08:03:27             1501                  2
1 2023-09-29 08:03:28             1501                  2

In [62]:
submission.shape

(260111, 3)

In [63]:
submission.set_index(['create_dt', 'mdm_object_name'])

                                     operation_kind_id
create_dt           mdm_object_name
2023-09-29 08:03:27 1501                             2
2023-09-29 08:03:28 1501                             2
2023-09-29 08:03:33 1501                             2
2023-09-29 08:03:34 1501                             2
2023-09-29 08:03:35 1501                             2
...                                                ...
2023-09-30 16:32:25 119                              5
2023-09-30 16:32:30 119                              5
2023-09-30 16:32:35 119                              5
2023-09-30 16:32:40 119                              5
2023-09-30 16:32:45 119                              5

[260111 rows x 1 columns]

In [64]:
submission.shape

(260111, 3)

In [66]:
submission.to_csv("Final_Solution.csv")