In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import os

In [3]:
data_dir = 'C:\\Users\\Akshay\\Downloads\\Machine Learning Competition\\Hackerearth\\TIS still the season to be Jolly'
data_dir

'C:\\Users\\Akshay\\Downloads\\Machine Learning Competition\\Hackerearth\\TIS still the season to be Jolly'

In [4]:
test_path = data_dir+'\\test\\'
train_path = data_dir+'\\train\\'

In [6]:
train = pd.read_csv(os.path.join(train_path, 'train.csv'))
##test = pd.read_csv(os.path.join(test_path, 'test.csv'))
train.head()

           Image          Class
0  image3476.jpg  Miscellaneous
1  image5198.jpg         Candle
2  image4183.jpg        Snowman
3  image1806.jpg  Miscellaneous
4  image7831.jpg  Miscellaneous

In [7]:
train.shape

(6469, 2)

In [8]:
os.listdir(train_path)[1]

'image1000.jpg'

In [9]:
first_img = train_path+'image1000.jpg'
first_img

plt.imread(first_img).shape

(120, 80, 3)

In [10]:
l1 = []
l2 = []
for i in os.listdir(train_path):
    img = plt.imread(train_path+i)
    i1 = img.shape[0]
    i2 = img.shape[1]
    l1.append(i1)
    l2.append(i2)
print(np.mean(l1))
print(np.mean(l2))

74.03277168032153
80.0

In [11]:
l1 = []
l2 = []
for i in os.listdir(test_path):
    img = plt.imread(test_path+i)
    i1 = img.shape[0]
    i2 = img.shape[1]
    l1.append(i1)
    l2.append(i2)
print(np.mean(l1))
print(np.mean(l2))

73.91344224706219
80.0

from tqdm import tqdm
from keras.preprocessing import image
import random
from skimage.transform import resize

l1 = []
i = random.choice(train.index)
img_name = train.Image[i]
for i in train.Image:
    img_path = os.path.join(data_dir, 'train', i)
    img = plt.imread(img_path)
    img = resize(img, (74, 80, 3))
    img = img.astype('float32')
    l1.append(img)
train_x = np.stack(l1)

In [12]:
from tqdm import tqdm
from keras.preprocessing import image

train_image = []
for i in tqdm(range(train.shape[0])):
    img = image.load_img('train/'+train['Image'][i], target_size=(74,80,1), grayscale=True)
    img = image.img_to_array(img)
    img = img/255
    train_image.append(img)
X = np.array(train_image)

  0%|          | 0/6469 [00:00<?, ?it/s]C:\Users\Akshay\Anaconda3\lib\site-packages\keras_preprocessing\image\utils.py:107: UserWarning: grayscale is deprecated. Please use color_mode = "grayscale"
  warnings.warn('grayscale is deprecated. Please use '
100%|██████████| 6469/6469 [00:04<00:00, 1315.32it/s]

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train['Class'] = le.fit_transform(train['Class'])

In [14]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6469 entries, 0 to 6468
Data columns (total 2 columns):
Image    6469 non-null object
Class    6469 non-null int32
dtypes: int32(1), object(1)
memory usage: 75.9+ KB

In [15]:
from keras.utils import to_categorical

y = train['Class'].values
y = to_categorical(y)

In [16]:
os.listdir(test_path)[1]

'image100.jpg'

In [17]:
first_img = test_path+'image100.jpg'
first_img

plt.imread(first_img).shape

(60, 80, 3)

In [18]:
from PIL import Image
images = [f for f in os.listdir(test_path) if os.path.splitext(f)[-1] == '.jpg']
test = pd.DataFrame({'Image': images})
test.to_csv('test.csv', index = False)
test.head()

           Image
0    image10.jpg
1   image100.jpg
2  image1013.jpg
3  image1014.jpg
4  image1018.jpg

In [19]:
test.shape

(3489, 1)

In [139]:
newtest = test
newtest['Image'] = newtest['Image'].str.extract('(\d+)')

In [142]:
newtest['Image'] = newtest['Image'].astype(int)

In [145]:
newtest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3489 entries, 0 to 3488
Data columns (total 1 columns):
Image    3489 non-null int32
dtypes: int32(1)
memory usage: 13.7 KB

In [20]:
test_image = []
for i in tqdm(range(test.shape[0])):
    img = image.load_img('test/'+test['Image'][i], target_size=(74,80,1), grayscale=True)
    img = image.img_to_array(img)
    img = img/255
    test_image.append(img)
test = np.array(test_image)

  0%|          | 0/3489 [00:00<?, ?it/s]C:\Users\Akshay\Anaconda3\lib\site-packages\keras_preprocessing\image\utils.py:107: UserWarning: grayscale is deprecated. Please use color_mode = "grayscale"
  warnings.warn('grayscale is deprecated. Please use '
100%|██████████| 3489/3489 [00:02<00:00, 1336.63it/s]

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [22]:
from keras.models import Sequential, load_model    
from keras.layers import Conv2D, MaxPooling2D, Flatten, Dense, Dropout
from keras.layers.normalization import BatchNormalization
import cv2

In [31]:
model = Sequential()

model.add(Conv2D(32, kernel_size=(3, 3),activation='relu',input_shape=(74,80,1)))

model.add(Conv2D(64, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(3, 3)))
model.add(Dropout(0.25))


model.add(Flatten())

model.add(Dense(128, activation='relu'))
model.add(Dropout(0.5))

model.add(Dense(6, activation='softmax'))

In [32]:
model.compile(loss='categorical_crossentropy',optimizer='Adam',metrics=['accuracy'])

In [33]:
model.fit(X_train, y_train, epochs=25, validation_data=(X_test, y_test))

Epoch 1/25
162/162 [==============================] - 50s 308ms/step - loss: 1.3993 - accuracy: 0.4889 - val_loss: 1.1912 - val_accuracy: 0.5541
Epoch 2/25
162/162 [==============================] - 50s 309ms/step - loss: 1.1662 - accuracy: 0.5770 - val_loss: 1.0900 - val_accuracy: 0.6012
Epoch 3/25
162/162 [==============================] - 50s 306ms/step - loss: 1.0431 - accuracy: 0.6211 - val_loss: 1.0627 - val_accuracy: 0.6236
Epoch 4/25
162/162 [==============================] - 50s 308ms/step - loss: 0.9080 - accuracy: 0.6674 - val_loss: 1.0429 - val_accuracy: 0.6314
Epoch 5/25
162/162 [==============================] - 50s 308ms/step - loss: 0.7909 - accuracy: 0.7030 - val_loss: 1.0797 - val_accuracy: 0.6236
Epoch 6/25
162/162 [==============================] - 50s 307ms/step - loss: 0.6632 - accuracy: 0.7490 - val_loss: 1.0823 - val_accuracy: 0.6345
Epoch 7/25
162/162 [==============================] - 50s 307ms/step - loss: 0.5615 - accuracy: 0.7886 - val_loss: 1.1441 - val_accuracy: 0.6244
Epoch 8/25
162/162 [==============================] - 49s 303ms/step - loss: 0.4915 - accuracy: 0.8178 - val_loss: 1.1801 - val_accuracy: 0.6345
Epoch 9/25
162/162 [==============================] - 49s 302ms/step - loss: 0.4025 - accuracy: 0.8493 - val_loss: 1.2164 - val_accuracy: 0.6244
Epoch 10/25
162/162 [==============================] - 49s 301ms/step - loss: 0.3411 - accuracy: 0.8781 - val_loss: 1.3369 - val_accuracy: 0.6236
Epoch 11/25
162/162 [==============================] - 49s 304ms/step - loss: 0.3049 - accuracy: 0.8918 - val_loss: 1.4522 - val_accuracy: 0.6345
Epoch 12/25
162/162 [==============================] - 49s 303ms/step - loss: 0.2530 - accuracy: 0.9123 - val_loss: 1.5968 - val_accuracy: 0.6345
Epoch 13/25
162/162 [==============================] - 49s 301ms/step - loss: 0.2362 - accuracy: 0.9156 - val_loss: 1.4649 - val_accuracy: 0.6213
Epoch 14/25
162/162 [==============================] - 49s 302ms/step - loss: 0.1949 - accuracy: 0.9329 - val_loss: 1.6639 - val_accuracy: 0.6376
Epoch 15/25
162/162 [==============================] - 49s 304ms/step - loss: 0.1745 - accuracy: 0.9409 - val_loss: 1.6959 - val_accuracy: 0.6391
Epoch 16/25
162/162 [==============================] - 50s 309ms/step - loss: 0.1642 - accuracy: 0.9430 - val_loss: 1.8895 - val_accuracy: 0.6090
Epoch 17/25
162/162 [==============================] - 49s 305ms/step - loss: 0.1685 - accuracy: 0.9413 - val_loss: 1.7686 - val_accuracy: 0.6206
Epoch 18/25
162/162 [==============================] - 49s 305ms/step - loss: 0.1421 - accuracy: 0.9498 - val_loss: 1.7405 - val_accuracy: 0.6229
Epoch 19/25
162/162 [==============================] - 50s 309ms/step - loss: 0.1389 - accuracy: 0.9515 - val_loss: 1.9248 - val_accuracy: 0.6321
Epoch 20/25
162/162 [==============================] - 50s 311ms/step - loss: 0.1243 - accuracy: 0.9542 - val_loss: 1.8758 - val_accuracy: 0.6144
Epoch 21/25
162/162 [==============================] - 51s 312ms/step - loss: 0.1041 - accuracy: 0.9660 - val_loss: 2.1338 - val_accuracy: 0.6314
Epoch 22/25
162/162 [==============================] - 50s 308ms/step - loss: 0.1118 - accuracy: 0.9619 - val_loss: 2.1404 - val_accuracy: 0.6314
Epoch 23/25
162/162 [==============================] - 50s 309ms/step - loss: 0.1105 - accuracy: 0.9631 - val_loss: 2.4743 - val_accuracy: 0.6329
Epoch 24/25
162/162 [==============================] - 50s 309ms/step - loss: 0.1015 - accuracy: 0.9652 - val_loss: 2.2352 - val_accuracy: 0.6213
Epoch 25/25
162/162 [==============================] - 43s 264ms/step - loss: 0.1075 - accuracy: 0.9629 - val_loss: 2.2916 - val_accuracy: 0.5904

In [40]:
prediction = model.predict_classes(test)

In [42]:
prediction

array([4, 4, 3, ..., 2, 1, 2], dtype=int64)

In [43]:
test1 = pd.read_csv('test.csv')
test1.head()

           Image
0    image10.jpg
1   image100.jpg
2  image1013.jpg
3  image1014.jpg
4  image1018.jpg

In [44]:
solution = pd.DataFrame({'Image': test1.Image, 'Class':le.inverse_transform(prediction)})
solution.head()

           Image          Class
0    image10.jpg  Miscellaneous
1   image100.jpg  Miscellaneous
2  image1013.jpg         Jacket
3  image1014.jpg  Miscellaneous
4  image1018.jpg  Miscellaneous

solution['breed'] = le.inverse_transform(solution['breed'])
solution.head()

In [45]:
solution.to_csv('Solution.csv', index = False)